@layer utilities {
    @for $i from 1 through 10{
        @for $j from 1 through 10 {
            .ratio-#{$i}-#{$j} {
                aspect-ratio: #{$i} / #{$j};
            }
        }
    }

    @for $i from 1 through 100{
        .pb-#{$i}-percent {
            padding-bottom: #{$i * 1%};
        }
    }

    @for $i from 1 through 100{
        .lh-#{$i}-px {
            line-height: #{$i * 1px} !important;
        }
    }

    @for $i from 1 through 200{
        .img-pb-#{$i} {
            content: "";

            &::before {
                width: 100%;
                display: block;
                content: "";
                padding-bottom: #{$i * 1%};
            }
        }
    }

    .bg-classic {
        @apply bg-top bg-cover bg-no-repeat bg-teal_dark;
    }

    .absolute-classic {
        @apply absolute top-50 left-50;
        transform: translate(-50%, -50%);
    }

    .empty {
        content: "";
    }

    .anim {
        transition: $anim;
    }
}