// Never change this value
$f-icon-path-from-css: "../fonts/icon/";

// Fonts
$arial: "Arial", sans-serif;

// Grid variables
$grid-max-width: 100vw;
$grid-mobile-padding: 0 2.4rem;
$grid-default-gap:  2.4rem;

// Animations
$anim-duration: 250ms;
$anim-easing: cubic-bezier(.55, 0, .1, 1);
$anim: $anim-duration $anim-easing;