@tailwind base;
@tailwind components;



@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './global/grid';
@import './global/typography';

@import './atoms/breadcrumbs';
@import './atoms/labels';



@layer base {
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-15 leading-1_2 overflow-x-hidden text-gray_dark bg-gray_general w-screen;
    font-family: $arial;
    scroll-behavior: smooth;

    main {
      @apply px-8 relative z-30 bg-gray_general;
    }
  }
}



@tailwind utilities;